In [3]:
a=1000
print(a, type(a))
a=12.34
print(a,type(a))
a="python"
print(a, type(a))
a=True
print(a, type(a))
a=False
print(a, type(a))
a=1+2j
print(a, type(a))
a=[10,20,30,"python",1.2,1+2j,True,False,[10,20,30]]
print(a, type(a))
a=(10,20,30,40)
print(a, type(a))
a={10,20,30,40}
print(a, type(a))
a={"name":"jay","age":2.3,"weight":13}
print(a,type(a))
a=None
print(a, type(a))

1000 <class 'int'>
12.34 <class 'float'>
python <class 'str'>
True <class 'bool'>
False <class 'bool'>
(1+2j) <class 'complex'>
[10, 20, 30, 'python', 1.2, (1+2j), True, False, [10, 20, 30]] <class 'list'>
(10, 20, 30, 40) <class 'tuple'>
{40, 10, 20, 30} <class 'set'>
{'name': 'jay', 'age': 2.3, 'weight': 13} <class 'dict'>
None <class 'NoneType'>

In [4]:
#arithmatic: +,-,*,/,**,//,%
#boolean:>,<,>=,<=,==,!=,is,in,not, and , or
#bitwise: &,|,^,<<,>>
a=1000
b=4
print(a+b)
print(a-b)
print(a*b)
print(a>b)
print(a&b)

1004
996
4000
True
0

In [5]:
a=1000
b=4
a>b

True

In [6]:
a="1000"
b="4"
a>b

False

In [7]:
a=10
b=20
a>b

False

In [8]:
a=10
b=20
a+b

30

In [9]:
a="str1"
b="str2"
a+b

'str1str2'

In [10]:
s1="apple"
s2="cat"
s1>s2

False

In [11]:
a="apple"
b="grape"
c="cat"
d="ant"
e="banana"
#"ant","apple","banana","cat","grape"

In [12]:
a="apple"
b="APPLE"
a>b

True

In [13]:
ord("a")

97

In [14]:
ord("a")

97

In [15]:
ord("A")

65

In [16]:
"a">"A"

True

In [17]:
"a"=="A"

False

In [18]:
"a"=="a"

True

In [19]:
#'12','6','7','23','45'
a=12
b=6
a>b

True

In [20]:
a="12"
b="6"
print(a, type(a))

12 <class 'str'>

In [21]:
a>b

False

In [23]:
ord("1")

49

In [24]:
ord("6")

54

In [25]:
ord("a")

97

In [26]:
chr(97)

'a'

In [27]:
c1=1+2j
c2=2+3j
c1+c2

(3+5j)

In [28]:
c1>c2

TypeError: '>' not supported between instances of 'complex' and 'complex'

In [29]:
c1=1+2j
c2=2+3j
c1*c2

(-4+7j)

In [30]:
a=10
b=20
a+b

30

In [31]:
a="s1"
b="s2"
a+b

's1s2'

In [ ]:
a="s1"
b=20
a+b

In [32]:
a=10
b=23.45
a+b

33.45

In [33]:
c1=1+2j
b=20
b+c1

(21+2j)

In [35]:
b=20
complex(b)

(20+0j)

In [36]:
a="20"
b=10
a+b

TypeError: can only concatenate str (not "int") to str

In [37]:
a="20"
b=10
int(a)+b

30

In [38]:
a="20"
b=10
a+str(b)

'2010'

In [39]:
l1=[10,20,30,40]
l2=[10,20,50,60]
l1+l2

[10, 20, 30, 40, 10, 20, 50, 60]

In [40]:
l1=[12,"python"]
l2=[23,45]

In [41]:
a=10
b="23"
a>b

TypeError: '>' not supported between instances of 'int' and 'str'

In [42]:
10+20

30

In [44]:
a=10
b="20"
a>b

TypeError: '>' not supported between instances of 'int' and 'str'

In [45]:
l=[10,2,3,4,56,78,90,-90]
max(l)

90

In [46]:
l=[10,2,3,4,"34",56,78,90,-90,"23"]
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [47]:
l=[1,2.3]
max(l)

2.3

In [48]:
1>2.3

False

In [49]:
l=[1,"1"]
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

In [50]:
a=10
b="20"
a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [51]:
a=10
b="20"
a*b

'20202020202020202020'

In [52]:
a=10
b="20"
a-b

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [53]:
mrp=2000
dis=10
sales_price=mrp*10/100
print(sales_price)

200.0

In [54]:
mrp=2000
dis=10
sales_price=mrp-mrp*10/100
print(sales_price)

1800.0

In [55]:
mrp=2000
discount_per=10
discount_value=mrp*discount_per/100
sales_price=mrp-discount_value
print(sales_price)

1800.0

In [56]:
name=input("enter name:")
print(name)

enter name:samba
samba

In [57]:
name=input("enter name:")
print("hello",name)

enter name:samba
hello samba

In [58]:
mrp=input("Enter mrp value:")
print(mrp)

Enter mrp value:2000
2000

In [59]:
a=2000
b="2000"
print(a, type(a))
print(b, type(b))

2000 <class 'int'>
2000 <class 'str'>

In [60]:
number1=input("enter number1:")
number2=input("enter number2:")
print(number1+number2)

enter number1:10
enter number2:20
1020

In [61]:
number1=input("enter number1:")
print(number1,type(number1))

enter number1:10
10 <class 'str'>

In [62]:
number1=input("enter number1:")
print(number1,type(number1))

enter number1:python
python <class 'str'>

In [63]:
number1=input("enter number1:")
print(number1,type(number1))

enter number1:[1,2,3,4]
[1,2,3,4] <class 'str'>

In [64]:
s1="[1,2,3,4]"
print(s1[0])
print(s1[1])
print(s1[2])

[
1
,

In [66]:
a="10"
print(a, type(a))
b=int(a)
print(b, type(b))

10 <class 'str'>
10 <class 'int'>

In [67]:
number1=input("enter number1:")
number2=input("enter number2:")
number1_int=int(number1)
number2_int=int(number2)
print(number1_int+number2_int)

enter number1:10
enter number2:20
30

In [68]:
number1=input("enter number1:")
number2=input("enter number2:")
number1_int=int(number1)
number2_int=int(number2)
print(number1_int+number2_int)

enter number1:1.2
enter number2:2.3

ValueError: invalid literal for int() with base 10: '1.2'

In [69]:
int(12.34)

12

In [70]:
int("12.34")

ValueError: invalid literal for int() with base 10: '12.34'

In [71]:
int("1234")

1234

In [72]:
float("12.34")

12.34

In [73]:
number1=input("enter number1:")
number2=input("enter number2:")
number1_int=float(number1)
number2_int=float(number2)
print(number1_int+number2_int)

enter number1:10
enter number2:20
30.0

In [74]:
number1=input("enter number1:")
number2=input("enter number2:")
number1_int=float(number1)
number2_int=float(number2)
print(number1_int+number2_int)

enter number1:1.0
enter number2:23.45
24.45

In [75]:
number1=input("enter number1:")
number2=input("enter number2:")
number1_int=float(number1)
number2_int=float(number2)
print(number1_int+number2_int)

enter number1:jklsdf
enter number2:wer

ValueError: could not convert string to float: 'jklsdf'

In [1]:
# take mrp, discount percentage from the user and calculate the sales price..

In [2]:
10+20/3*5

43.333333333333336

In [3]:
# operator precidency
1000/10+20

120.0

In [5]:
a=10
a**2

100

In [6]:
a=10
b=20
a+b**2

410

In [7]:
a=10
b=20
(a+b)**2

900

In [8]:
m=20
x=30
b=0.6
# y=mx+b
print(mx+b)

NameError: name 'mx' is not defined

In [9]:
m=20
x=30
b=0.6
# y=mx+b
print(m*x+b)

600.6

In [10]:
2000/200/5

2.0