In [1]:
a=1000
b=2000
# a value:1000, b value:2000
print("a value:")

a value:

In [2]:
a=1000
b=2000
# a value:1000, b value:2000
print("a value:a")

a value:a

In [3]:
a=1000
b=2000
# a value:1000, b value:2000
print("a value:",a)

a value: 1000

In [4]:
a=1000
b=2000
# a value:1000, b value:2000
print("a value:",a,sep=";")

a value:;1000

In [5]:
a=1000
b=2000
# a value:1000, b value:2000
print("a value:",a,sep="")

a value:1000

In [6]:
a=1000
b=2000
# a value:1000, b value:2000
print("a value:",a,"b value:",sep="")

a value:1000b value:

In [7]:
a=1000
b=2000
# a value:1000, b value:2000
print("a value:",a,", b value:",sep="")

a value:1000, b value:

In [8]:
a=1000
b=2000
# a value:1000, b value:2000
print("a value:",a,", b value:",b,sep="")

a value:1000, b value:2000

In [9]:
a=1000
b=2000
# a value:1000, b value:2000
print("a value:",a,", b value:",b,sep="")
print("a value:{a}, b value:{b}")

a value:1000, b value:2000
a value:{a}, b value:{b}

In [10]:
a=1000
b=2000
# a value:1000, b value:2000
print("a value:",a,", b value:",b,sep="")
print(f"a value:{a}, b value:{b}")

a value:1000, b value:2000
a value:1000, b value:2000

In [ ]:
a=1000
b=2000
# a value:1000, b value:2000
print("a value:",a,", b value:",b,sep="")
print(f"a value:{a}, b value:{b}, c value:c")

In [12]:
print("world hello")

world hello

In [13]:
a=1000
b=2000
# a value:1000, b value:2000
print("a value:",a,", b value:",b,sep="")
print(f"a value:{a}, b value:{b}, c value:c")

a value:1000, b value:2000
a value:1000, b value:2000, c value:c

In [14]:
a=1000
b=2000
# a value:1000, b value:2000
print("a value:",a,", b value:",b,sep="")
print(f"a value:{a}, b value:{b}, c value:{c}")

a value:1000, b value:2000

NameError: name 'c' is not defined

In [15]:
mrp=input("enter mrp:")
dis_percentage=input("dicount percentage:")
mrp=float(mrp)
dis_percentage = float(dis_percentage)
disc_value=mrp*dis_percentage/100
sales_price=mrp-disc_value
print(f"The product details Are:\n\tMRP:{mrp}\n\tdiscount:{disc_value}\n\tsales price:{sales_price}")
# The product details Are:
#     MRP:
#     discount:
#   sales price:

enter mrp:2000
dicount percentage:20
The product details Are:
	MRP:2000.0
	discount:400.0
	sales price:1600.0

In [16]:
# take a costprice
# sales price
#print profit
cp = float(input("Enter costprice:"))
sp = float(input("Enter sale price:"))
print(sp-cp)

Enter costprice:2000
Enter sale price:2500
500.0

In [17]:
#interest percentage caluculator.

In [18]:
name="Jayaram"
age=2.344567
height=3.546457
weight=13.467678
print(f"Name:{name}, Age:{age}, Height:{height}, Weight:{weight}")

Name:Jayaram, Age:2.344567, Height:3.546457, Weight:13.467678

In [21]:
name="Jayaram"
age=2.344567
height=3.54645
weight=13.46767
print(f"Name:{name}, Age:{age:f}, Height:{height:f}, Weight:{weight:f}")

Name:Jayaram, Age:2.344567, Height:3.546450, Weight:13.467670

In [22]:
name="Jayaram"
age=2.344567
height=3.54645
weight=13.46767
print(f"Name:{name}, Age:{age:.2f}, Height:{height:.2f}, Weight:{weight:.2f}")

Name:Jayaram, Age:2.34, Height:3.55, Weight:13.47

In [23]:
name="Jayaram"
age=2.344567
height=3.54645
weight=13.46767
print(f"Name:{name}, Age:{age:d}, Height:{height:.2f}, Weight:{weight:.2f}")

ValueError: Unknown format code 'd' for object of type 'float'

In [24]:
name="Jayaram"
age=2.344567
height=3.54645
weight=13.46767
print(f"Name:{name}, Age:{int(age)}, Height:{height:.2f}, Weight:{weight:.2f}")

Name:Jayaram, Age:2, Height:3.55, Weight:13.47

In [25]:
name="Jayaram"
age=2.344567
height=3.54645
weight=13.46767
print(f"Name:{name}, Age:{int(age)}, Height:{height:.2f}, Weight:{weight:.2f}") # template string
print("Name:%s, Age:%s, Height:%s, Weight:%s")

Name:Jayaram, Age:2, Height:3.55, Weight:13.47
Name:%s, Age:%s, Height:%s, Weight:%s

In [26]:
name="Jayaram"
age=2.344567
height=3.54645
weight=13.46767
print(f"Name:{name}, Age:{int(age)}, Height:{height:.2f}, Weight:{weight:.2f}") # template string
print("Name:%s, Age:%s, Height:%s, Weight:%s",(name,age,height,weight))

Name:Jayaram, Age:2, Height:3.55, Weight:13.47
Name:%s, Age:%s, Height:%s, Weight:%s ('Jayaram', 2.344567, 3.54645, 13.46767)

In [27]:
name="Jayaram"
age=2.344567
height=3.54645
weight=13.46767
print(f"Name:{name}, Age:{int(age)}, Height:{height:.2f}, Weight:{weight:.2f}") # template string
print("Name:%s, Age:%s, Height:%s, Weight:%s"%(name,age,height,weight))

Name:Jayaram, Age:2, Height:3.55, Weight:13.47
Name:Jayaram, Age:2.344567, Height:3.54645, Weight:13.46767

In [28]:
name="Jayaram"
age=2.344567
height=3.54645
weight=13.46767
print(f"Name:{name}, Age:{int(age)}, Height:{height:.2f}, Weight:{weight:.2f}") # template string
print("Name:%s, Age:%d, Height:%.2f, Weight:%.2f"%(name,age,height,weight))

Name:Jayaram, Age:2, Height:3.55, Weight:13.47
Name:Jayaram, Age:2, Height:3.55, Weight:13.47

In [29]:
print("%o"%23456)

55640

In [30]:
print("%x"%23456)

5ba0

In [31]:
cell=9676622023
print("%x"%cell)

240c588c7

In [32]:
cell=9676622023
print("%x"%cell)
print(hex(cell))

240c588c7
0x240c588c7

In [33]:
a=10
b=0b10
c=0o10
d=0x10
print(a,b,c,d)

10 2 8 16

In [34]:
a=0xabcd
print(a)

43981

In [35]:
a=0x23ca
print(a)

9162

In [36]:
a=0x23ca
print(a)
print(10*16**0+12*16**1+3*16**2+2*16**3)

9162
9162

In [37]:
a=0x23ca
print(a)

9162

In [38]:
a="240c588c7"
print(int(a))

ValueError: invalid literal for int() with base 10: '240c588c7'

In [39]:
a="240c588c7"
print(int(a,16))

9676622023

In [40]:
c="23"
print(int(c))

23

In [41]:
c="23"
print(int(c,2))

ValueError: invalid literal for int() with base 2: '23'

In [42]:
c="101010101"
print(int(c,2))

341

In [43]:
a=0b234
print(a)

SyntaxError: invalid token (<ipython-input-43-0577d58e50f9>, line 1)

In [44]:
a=0b1010101
print(a)

85

In [45]:
a=0o456789
print(a)

SyntaxError: invalid syntax (<ipython-input-45-5d52e534c376>, line 1)

In [46]:
a=0o4567
print(a)

2423